# NetBeans Project .gitignore
# XML
*.xml

# 
*.txt

# mf files
*.mf

# Properties files
*.properties

# Classes files
*.class

#
*.netbeans_update_resources
*.netbeans_automatic_build
/Figures/nbproject/private/
/Figures/build/
/Polynoms/nbproject/private/
/Polynoms/build/
/Dates/nbproject/private/
/Dates/build/
/TestWork2Larina/nbproject/private/
/TestWork2Larina/build/
/TestWork2Larina/dist/